body {
    font-family: 'Arial ', sans-serif;
    background-color:#FAD4C0;
    margin:0 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align:center;
}

h1 {
    text-align: center;
    font-size:40px;
    margin:0 0;
}

h3 {
}

.textInfo {
}

.textInfo.correct {
    color: #7faf51;
    font-weight: bold;
}

.textInfo.wrong {
    color: #fa3535;
    font-weight: bold;
}

.play_place {
    display: flex;
    flex-wrap: wrap;
    max-width: 580px;
    margin: 0 auto;


}

.play_place .card {
    background-color:#FEE9E1;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    margin: 0 15px 15px 0;
    width:130px;
    height:130px;
    cursor:pointer;
}


.play_place .card.found {
    background-color:transparent;
    box-shadow: none;
    pointer-events: none;
}

.nextLevel button{
    background-color:#E0CBA8;
    border:0 solid black;
    border-radius:5px;
    margin-top:0;
    margin-bottom:10px;
    cursor:pointer;
    color:black;
    padding:10px;
    top:80px;
    left:50vw;
    visibility:hidden;


}
.nextLevel button:hover{
    background-color:#bead8f;
    transition:1s;

}